[submodule "fullstack-challenges-03-Rails-restaurant-reviews-specs"]
	path = fullstack-challenges-03-Rails-restaurant-reviews-specs
	url = git@github.com:lewagon/fullstack-challenges-03-Rails-restaurant-reviews-specs.git
[submodule "spec"]
	path = spec
	url = git@github.com:lewagon/fullstack-challenges-03-Rails-restaurant-reviews-specs.git
